<div class="not-found-container">
	<div class="left-side">
		<img src="assets/404-error.png" alt="">
	</div>
	<div class="right-side">
		<p>Sorry, but the requested page doesn't exist.</p>
		
		<a routerLink="/">
			<button mat-flat-button color="primary">Back To Menu</button>
		</a>
	</div>
	
</div>