.navbar-logo {
	height: 25px;
	padding-right: 5px;
}

.navbar-brand {
	vertical-align: middle;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.mat-menu-item {
	outline: none !important;
}

.fab-button-container {
	position: absolute;
	right: 15%;
	bottom: 20%;
	z-index: 10;
}