<h1>Task Creation</h1>
<div mat-dialog-content>

	<p>Input the created category's name</p>

	<mat-form-field>
		<mat-label>Task's Category</mat-label>
		<mat-select [(ngModel)]="pickedCategory">
			<mat-option *ngFor="let category of categories" [value]="category">
				{{category.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Task Name</mat-label>
		<input matInput placeholder="Ex. My Task" [(ngModel)]="taskName">
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-raised-button color="primary" (click)="confirmAction()" cdkFocusInitial>Create</button>
</div>