mat-sidenav{
    padding-top: 20 px;
    padding-left : 3px;
    padding-right : 3px;
}
  
mat-sidenav-container{
    height: 100%;
}

.add{
    height: min-content;
    color: white;
}

.add-button{
    background-color: white;
    color: black;
    margin-top: 10px;
}

.current-category{
    color: black;
    border-bottom:1px solid gray;
    padding-bottom: 5px;
}

.default{
    text-align: center;
}

div{
    height: 100%;
    color : white;
    font-family: Roboto;
    font-weight: bold;
}

mat-grid-tile:hover{
    background-color: cornflowerblue;
}

mat-grid-tile:active{
    background-color: lightblue;
}

.catColor{
   
    color : white;
    font-family: Roboto;
    font-weight: bold; 
}
.totalTimeSpend{
    padding-top: 5%;
    text-align: center;
}

.taskChoice{
    margin: 3%;
}

app-active-tasks-view, .active-tasks, .active-tasks table {
    width: 100%;
    margin: 0;
}



div.mat-tab {
    padding-top: 10px;
}