.form-container {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	vertical-align: middle;
	justify-content: center;

	flex-direction: column;
  }
  
  .input-full-width {
	width: 100%;
  }

.container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
}

.auth-container	{
	display: flex;
	flex-direction: row;
	height: 100%;
}

.auth-left, .auth-right {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.auth-left img {
	height: 15em;
}

.authenticationFailed {
	width: 100%;
}